/* styles/HomePage.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide for webkit browsers */
/* In your Home.css or global CSS */
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}